@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,400;1,700&display=swap');

.navbar {
    position: fixed;
    width: 100vw;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.63);
}

mark {
    background-color: tomato;
    color: white;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
}

.container{
    display:grid;
    color: white;
    position: relative;
    text-align: center;
    margin-left: 0%;
    padding: 0%;
    }

.titulo{
    position: absolute;
    top: 10px;
    left: 50%;
    padding-block-start: 2em;
    font-size: large;
}

.texto{
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.menu {
    display: flex;
    text-align: center;
    justify-content: center;
}

.titulo1{
    position: initial;
    top: 10px;
    left: 50%;
    padding-block-start: 2em;
    font-weight: bold;
}
.evento {
    position: absolute;
    object-fit: cover;
    height:100vh;
    width:100vw; 
    z-index: -1;
}

.icono{
    background-color: rgba(0, 0, 0, 0);
    /*   
    height:100px;
    position: absolute; 
    width:100px;
    top: 40px;
    left : 40px;
    */
    z-index: 1; 
}
.card{
    background-color: transparent;
}
.card-group{
    color: white;
    background-color: transparent;
}

.caption {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: small;
}

footer{
    background-color: #7C3030; 
    color: white;
    display: flex;
    /* grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr auto; */
}

/* .logo{
    grid-row: 1;
    grid-column: 1;
} */
/*
.datos-contacto{
    grid-row: 2; 
}*/
button{
    background: none;
    color: white;
    border: none;
}

/* .info-contacto{
    grid-row: 3;
}

.mapa{
    grid-row: 2;
}  */